<div class="main">
    <div class="inner">
        <h1>Food pickup</h1>
    </div>

    <div class="inner">
        <form [formGroup]="form" (ngSubmit)="processForm()">
            <table>
                <tr>
                    <td><label for="name">Name</label> </td>
                    <td><input type="text" formControlName="name"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <small id="emailHelp" class="form-text text-muted">Help us identify you</small></td>
                </tr>
                <tr>
                    <td><label for="mobile">Mobile</label> </td>
                    <td><input type="text" formControlName="mobile"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <small id="emailHelp" class="form-text text-muted">We'll ring you when your orders are ready</small></td>
                </tr>
                <tr>
                    <td><label for="time">Pickup time</label> </td>
                    <td><select>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <small id="emailHelp" class="form-text text-muted">Select a suitable pickup time</small></td>
                </tr>
            </table>
            <button type="button" (click)="add()" class="btn btn-outline-info">Add order</button>
            <div  *ngIf="orderArr.length > 0">
                <table>
                    <thead>
                        <th>Item </th>
                        <th>Quantity</th>
                    </thead>
                    <tbody formArrayName="orderItems">
                        <tr *ngFor="let t of orderArr.controls" [formGroup]="t">
                            <td><input type="text" formControlName="item"> </td>
                            <td><select formControlName="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select> </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-outline-info">Order</button>
            </div>
        </form>
    </div>

    
</div>